/* nav */

.topnav {
    background-color: transparent;
    overflow: hidden;
    padding-right: 2%;
    padding-top: 2%;
    position: relative;
    bottom: 40%;
    white-space: nowrap;
  }

  .topnav a {
    float: right;
    color: black;
    text-align: center;
    font-family: 'Work sans';
    font-style: oblique;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 0.1%;
  }
  
  .topnav a:hover {
    background-color: rgb(224, 224, 224);
    opacity: 80%;
    color: black;
    padding-top: 2%;
    padding-right: 2%;
  }
  
  .topnav a.active {
    color: black;
    padding-top: 2%;
    padding-right: 2%;
    font-weight: bold;
  }

  .logo {
    position: relative;
    left: 45%;
    margin:auto;
    width:auto;
    padding: 2%;
    font-family: 'Finger Paint';
    font-size: 60px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

h1 {
  font-family: 'Work Sans';
  position: relative;
  left: 2%;
}

p {
  font-family: 'Work Sans';
  position: relative;
  left: 2%;
}

  /* post links */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 1200px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 75%;
      max-width: 75%;
    }
  }

  @media screen and (max-width: 320px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


  /* centre images */

  .center {
    margin: auto;
    width: 95%;
    border: blue;
    padding: 30px;
    position: relative;
    left: 10%;
  }

  .posts {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans';
  }

  .posts:hover {
    opacity: 50%;
  }

  .about {
    position: relative;
    left: 12%;
  }
